<div class="ui large main menu">
    <div class="ui container">
        <div class="item">
            Käytetyt oppikirjat
        </div>
        <a class="item">Koulut</a>
        <a class="item">Oppiaineet</a>
        <div class="right menu">
            <a class="item" href="/listings/new"><strong>Myy oppikirja</strong></a>
            <a class="item">Rekisteröidy</a>
            <a class="item">Kirjaudu sisään</a>
        </div>
    </div>
    
</div>