

<div class="ui large fixed inverted main menu">
    <div class="ui container">
        <a href="/" class="header item">
            <i class="icon book"></i>
            Bookshare
        </a>
        <a href="/ilmoitukset" class="item">Etusivu</a>
        <div class="right menu">
            <a class="item" href="/ilmoitukset/uusi"><strong>Uusi ilmoitus</strong></a>
            <a class="item">Rekisteröidy</a>
            <a class="item">Kirjaudu sisään</a>
        </div>
    </div>
  </div>