<div class="ui vertical menu">
        <div class="item">
            <h4>Osastot</h4>
        </div>
        <div class="item">
            Oppiaineet
            <div class="menu">
            <a class="item">Matematiikka</a>
            <a class="item">Fysiikka</a>
            <a class="item">Kemia</a>
            <a class="item">Biologia</a>
            <a class="item">Maantieto</a>
            <a class="item">Historia</a>
            <a class="item">Yhteiskuntaoppi</a>
            <a class="item">Filosofia</a>
            <a class="item">Uskonto</a>
            <a class="item">ET</a>
            <a class="item">Englanti</a>
            <a class="item">Ruotsi</a>
            <a class="item">Espanja</a>
            <a class="item">Ranska</a>
            <a class="item">Saksa</a>
            </div>
        </div>
        <a class="item">
            Help
        </a>
    </div>