<% include partials/header %>
<% include partials/navbar %>

<div class="ui container">

    <h1>Kotisivu</h1>

    <a href="/ilmoitukset">Selaa myytäviä kirjoja</a>
    
</div>

<% include partials/footer %>