body{
    line-height: 1.2;
}

.ui.items>div.item.book-listing{
    padding:8px;
    border:1px solid lightgrey;
    border-radius:3px;
    transition: .1s all ease-in;
    cursor: pointer
}

.ui.items>div.item.book-listing:hover{
    background-color: #eee;
}

.ui.items>div.item>.content{
    padding-top: 3px;
    padding-bottom: 3px;
}
.ui.tiny.image{
    width: 100px;
}

/* FORM */

.ui.form>.fields>.field>.centered-rating{
    padding-top: 8px;
}

/* RESPONSIVE */ 
@media only screen and (max-width: 767px) {
    .ui.form>.fields>.field{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
